{{ data }}
<hr />
<b>{{ count }}</b> {{#if one}}pièce-jointe a été détachée{{else}}pièces-jointes ont été détachées{{/if}} de cet e-mail :
<br />
<ul>
  {{#each items as | item |}}
  <li><a href="{{ url }}">{{ filename }}</a></li>
  {{/each}}
</ul>